<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/omar_teixeira_gonzález_session02_task_seatmanager/test/uo/mp/s2/seatmanager/model/seatmanager"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="2"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=omar_teixeira_gonzález_session02_task_seatmanager/test&lt;uo.mp.s2.seatmanager.model.seatmanager"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="omar_teixeira_gonzález_session02_task_seatmanager"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
